html {
    height: 100vh;

    body {
        background-color: #ffffff;
        color: #000000;
        font-family: 'Inter', sans-serif;
        margin: 0;

        .body-container {
            max-width: 1400px;
            padding: 0 10px;
            margin: 0 auto;

            .main-content-header {
                margin: 5em auto 1em auto;
            
                h1 {
                    font-size: 5rem;
                    font-weight: 700;
                    line-height: 1.2;
                    margin-bottom: 10px;
                    text-align: center;
                }
    
                p {
                    font-size: 1.125rem;
                    margin: 1em auto;
                    text-align: center;
                }
            }
            
            .projects-row {
                overflow: clip;
                margin-top: 40px;
    
                .projects {
                    display: flex;
                    justify-content: center;
                    padding: 0;
                    margin: 3.25em auto .5em auto;

                    @media (min-width: 599px) {
                        margin: 6.5em auto 1em auto; 
                    }
    
                    .project {
                        list-style: none;
                        background-color: charcoal;
                        position: relative;
                        overflow: hidden;
    
                        img {
                            transition-property: opacity;
                            transition: 1s ease;
                            max-width: 800px;
                            width: 100%;
                            height: auto;
                            aspect-ratio: 2 / 1;
                            object-fit: cover;
                            border-radius: 40px;
    
                            &:hover {
                                opacity: .5;
                                cursor: pointer;
    
                                +.project-text {
                                    animation: slideInFromRight 1s ease;
                                    position: absolute;
                                    top: 20%;
                                    left: 5%;
                                    font-size: 64px;
                                    pointer-events: none;
                                }    
                            }
                        }
    
    
                        &.active {
                            display: block;
                        }
    
                        &.hidden {
                            display: none;
                        }
    
                        .project-image {
                            max-width: 800px;
                        }
    
                        .project-text {
                            position: absolute;
                            left: 999px;
                        } 
                    }
                }
    
                .slider-icons {
                    display: flex;
                    justify-content: center;
                    gap: 20px;
    
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
      
    }

}

@keyframes slideInFromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .project.active {
    &.left {
        animation: slideInFromLeft 1s ease;
    }

    &.right {
        animation: slideInFromRight 1s ease;
    }
  }


